@import '../App.scss';

.project-entry-container {
    display: flex;
    font-size: 20px;
    font-family: monospace;
    color: $color-light;
    cursor: pointer;

    &.selected {
      color: $color3;
      background-color: $color2;
    }

    .line-number {
      width: 45px;
      text-align: right;
    }
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .project-entry-list {
    padding-top: 20px;
  }

  .project-entry {
    padding-left: 10px;
  }