@import "colors.scss";

$corner-size: 90px;
$corner-color: black;
$gridSize: 1600px;
$spacing: 10px;
$border-radius: 16px;

$color1: #282f37;
$color2: #20262c;
$color-light: rgb(129, 129, 129);
$color3: #65d8d7;


.App {
  height: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  width: $gridSize;
  padding-top: 50px;
  padding-bottom: 100px;

  .project-entry-container {
    display: flex;
    font-size: 20px;
    font-family: monospace;
    color: $color-light;
    cursor: pointer;

    &.selected {
      color: $color3;
      background-color: $color2;
    }

    .line-number {
      width: 40px;
      text-align: right;
    }
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .project-entry-list {
    padding-top: 20px;
  }

  .project-entry {
    padding-left: 10px;
  }
}
