@import "colors.scss";

$corner-size: 90px;
$corner-color: black;
$gridSize: 1600px;
$spacing: 10px;
$border-radius: 16px;

$color1: #282f37;
$color2: #20262c;
$color-light: rgb(129, 129, 129);
$color3: #65d8d7;


.App {
  height: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

.projects {
  width: $gridSize;
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  .projects-panel-container {
    grid-area: 1 / 1 / 6 / 4;
  }

  .details-panel-container {
    grid-area: 1 / 4 / 3 / 6;
  }

  .preview-panel-container {
    grid-area: 3 / 4 / 6 / 6;
  }

}

